.equipment-picture {
  margin-top: 1px;
  height: 200px;
  width: 450px;
  object-fit: contain;
}
.equipment-name {
  padding: 16px;
  font-size: 24px;
  margin-bottom: 0px;
  text-align: center;
  color: rgb(2, 2, 48);
}

.equipment-container {
  height: 350px;
  background-color: whitesmoke;
  width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
 
}

.equipment-list {
  display:flex;
  flex-wrap: wrap; 
  gap:10px;
  justify-content: space-around;
}
.detail-button{
display: flex;
justify-content: center;
}
