.equipment-picture {
  margin-top: 1px;
  height: 200px;
  width: 450px;
  object-fit: contain;
  display: block;
}
.equipmentimage{
  margin-top: 1px;
  height: 300px;
  width: 450px;
  object-fit: contain;
  display: block;
}
.equipment-name {
  padding: 16px;
  font-size: 24px;
  margin-bottom: 0px;
  text-align: center;
  color: rgb(2, 2, 48);
}

.equipment-container {
  height: 350px;
  background-color: whitesmoke;
  width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
  max-width: 900px;
 
}

.equipment-list {
  margin-top: 25px;
  display:flex;
  flex-wrap: wrap; 
  gap:10px;
  justify-content: space-around;
}
.detail-button{
display: flex;
flex-wrap: wrap;
justify-content:space-around;
}
.Equipment-details-container{
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  padding-left: 30px;
  padding-top:30px;
  width: 80%;
}
/* .equipment-individual{
  display: flex;
 flex-wrap: wrap;
 margin-left: 50px;
} */

.equipmentName{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:x-large;
  margin-left: 20px;
  font-weight: bolder;
  color:rgb(2, 2, 36)
}
.navbar{
  display:flex;
}
.add-to-cart{
  justify-content: flex-end;
}






.add-equipment-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
}
.buttons{
  margin-top:50px;
  margin-bottom:50px;
  display:flex;
  justify-content: space-around;
}
.equipment-individual{
  align-items: center;
}